/* height100vhでbodyを画面いっぱいに指定 */
body {
  font-size: 18px;
  height: 100vh;
}

/* コンテナクラスを作成して、縦横中央よせ */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* ボタンの作成 */
#open,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
}

/* モーダルを開いた時の背景色 */
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

/* モーダルのデザイン */
#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 340px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.4s;
  z-index: 2;
}

/* id=maskにhiddenクラスが付いてる時はmask非表示 */
#mask.hidden {
  display: none;
}

/* id=modalにhiddenクラスが付いてる時はmodalを画面外へ避けておく */
#modal.hidden {
  transform: translate(0, -500px);
}
